.logo-spacing{
    padding-left: 7%;
}

.news {
    margin-top: 30px;
}

.container {
    margin: auto auto;
}

.news-category-heading {
    margin-top: 10%;
    margin-left: 10%;   
}

.news-category-heading-text {
    font-weight: 600;
    color: darkolivegreen;
}

a {
    cursor: pointer;
}