<div class="row">
  <div class="col s12">
    <div class="card">
      <div *ngIf="NewsCard.urlToImage" class="card-image">
        <img src="{{NewsCard.urlToImage}}">
      </div>
      <!-- <div>
        <span class="card-title">
          <b class="grey-text text-lighten-5">{{NewsCard.title}}</b>
        </span>
      </div> -->
      <div *ngIf="!NewsCard.urlToImage" class="card-image">
        <img src="./assets/images/no-image.jpg">
      </div>
      <div class="card-title">
          <span class="grey-text text-darken-5">{{NewsCard.title}}</span>
      </div>
      <div *ngIf="NewsCard.description" class="card-content">
        <p>{{NewsCard.description}}</p>
      </div>
      <div class="card-action">
        <a class="blue-text text-darken-2" href="{{NewsCard.url}}">Read Full Story...</a>
      </div>
    </div>
  </div>
</div>